<%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form|%>
    <div class="form-group">
        <%= form.text_area :text, class:"form-control", placeholder:"Add a comment ...", rows: 5, required: true %>
        <%= form.submit "Comment", class:"btn btn-secondary" %>
    </div>
<% end %>
