<div class="container mt-4">
  <%= render partial:"users/user", locals: {user: @user} %>
  <% @posts.each do |post| %>
    <%= render partial:"post", locals: {post: post} %>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <button type="button" class = "btn btn-dark mb-2 mt-2">
      <%= link_to 'New Post', new_user_post_path %>
  </button>
</div>
<div class="d-flex justify-content-center">
        <button type="button" class = "btn btn-dark mb-2 mt-2">
            Pagination
        </button>
</div>